# ignore all by default
/*

# repo
!.gitignore
!/.gitmodule
!/.github/

# .local
!/.local
/.local/*

# .local/bin
!/.local/bin
/.local/bin/*
!/.local/bin/rgb
!/.local/bin/tmux-sessionizer
!/.local/bin/devclone
!/.local/bin/devfind
!/.local/bin/pineapple

# .local/share
!/.local/share
/.local/share*

# vagrant
!/.local/share/vagrant
/.local/share/vagrant/*
!/.local/share/vagrant/Vagrantfile

# go
!/.local/share/go
/.local/share/go/*
!/.local/share/go/src

# fonts
!/.local/share/fonts
/.local/share/fonts/.uuid

# .config
!/.config
/.config/*
!/.config/alacritty
!/.config/awesome
!/.config/bat
!/.config/git
!/.config/helix
!/.config/i3
!/.config/lvim/init.lua
!/.config/npm
!/.config/polybar
!/.config/python3
!/.config/tmux
!/.config/wgetrc
!/.config/Xresources

# zsh
!/.zshenv
!/.config/zsh
/.config/zsh/functions
*.zwc

# R
!/.config/R
/.config/R/rsconnect

# nvim
!/.config/nvim
/.config/nvim/plugin

# wallpaper
!/.config/wallpapers
/.config/wallpapers/*.png

# conda
!/.config/conda
/.config/conda/*
!/.config/conda/condarc

# user dirs
!/.config/user-dirs.dirs
!/.config/user-dirs.locale

