# ignore all by default
/*

# ignore secret files
*secret*

# repo
!.gitignore
!/.gitmodule

# .github 
!/.github/

# .config
!/.config
/.config/*

# git
!/.config/git

# .Xresources
!/.config/Xresources

# .local/bin
!/.local
/.local/*
!/.local/bin
/.local/bin/*
!/.local/bin/rgb
!/.local/bin/tmux-sessionizer
!/.local/bin/devclone
!/.local/bin/devfind

# zsh
!/.zshenv
!/.config/zsh
/.config/zsh/functions
histfile
.zcompdump
*.zwc

# nvim
!/.config/nvim
/.config/nvim/plugin

# lvim
!/.config/lvim/
/.config/lvim/plugin

# i3
!/.config/i3
!/.config/i3status

# polybar
!/.config/polybar

# wallpaper
!/.wallpapers
/.wallpapers/*.png

# fonts
!/.fonts
/.fonts/.uuid

# alacritty
!/.config/alacritty

# tmux
!/.config/tmux/

# awesome
!/.config/awesome

# gtk themes
# !/.config/gtk-*.0

# vagrant
!/.vagrant.d
/.vagrant.d/*
!/.vagrant.d/Vagrantfile

