# Ignore all files in .local by default
/.local/*

# User Executables
!/.local/bin
/.local/bin/*

!/.local/bin/rgb
!/.local/bin/git-*
!/.local/bin/tmux-*
!/.local/bin/zellij-*
!/.local/bin/ssh-copy-terminfo

# Application State
!/.local/state
/.local/state/*

!/.local/state/zsh
/.local/state/zsh/*
!/.local/state/zsh/.gitkeep

# Application Data
!/.local/share
/.local/share/*

!/.local/share/vagrant
/.local/share/vagrant/*
!/.local/share/vagrant/Vagrantfile

!/.local/share/fonts
/.local/share/fonts/.uuid

# Docker
/.config/docker/*
!/.config/docker/config.json

# ZSH Compiled Files
*.zwc
.zcompdump
