[submodule ".config/zsh/plugin/zsh-vi-mode"]
	path = .config/zsh/zsh-vi-mode
	url = https://github.com/jeffreytse/zsh-vi-mode
[submodule ".config/zsh/plugin/zsh-autosuggestions"]
	path = .config/zsh/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule ".config/i3/i3lock-fancy"]
	path = .config/i3/i3lock-fancy
	url = https://github.com/meskarune/i3lock-fancy.git
[submodule ".config/zsh/fast-syntax-highlighting"]
	path = .config/zsh/fast-syntax-highlighting
	url = https://github.com/zdharma-continuum/fast-syntax-highlighting
[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/rilstrats/kickstart.nvim.git
