[submodule ".config/zsh/plugin/zsh-vi-mode"]
	path = .local/share/zsh/vi-mode
	url = https://github.com/jeffreytse/zsh-vi-mode
[submodule ".config/zsh/plugin/zsh-autosuggestions"]
	path = .local/share/zsh/autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule ".config/zsh/fast-syntax-highlighting"]
	path = .local/share/zsh/fsh
	url = https://github.com/zdharma-continuum/fast-syntax-highlighting
[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/rilstrats/kickstart.nvim.git
[submodule ".config/lazyvim"]
	path = .config/lazyvim
	url = https://github.com/rilstrats/lazyvim.git
