(
    name: "TokyoNight",
    foreground: "#C0CAF5",
    cursor: "#C0CAF5",
    bright_foreground: "#C0CAF5",
    dim_foreground: "#1A1B26",
    normal: (
        black: "#414868",
        blue: "#7AA2F7",
        cyan: "#7DCFFF",
        green: "#9ECE6A",
        magenta: "#BB9AF7",
        red: "#F7768E",
        white: "#C0CAF5",
        yellow: "#E0AF68",
    ),
    bright: (
        black: "#414868",
        blue: "#7AA2F7",
        cyan: "#7DCFFF",
        green: "#9ECE6A",
        magenta: "#BB9AF7",
        red: "#F7768E",
        white: "#C0CAF5",
        yellow: "#E0AF68",
    ),
    dim: (
        black: "#414868",
        blue: "#7AA2F7",
        cyan: "#7DCFFF",
        green: "#9ECE6A",
        magenta: "#BB9AF7",
        red: "#F7768E",
        white: "#C0CAF5",
        yellow: "#E0AF68",
    ),
)
