[Unit]
Description=Set RGB to sleeping profile on suspend
Before=suspend.target

[Service]
User=riley
Type=oneshot
ExecStart=flatpak run org.openrgb.OpenRGB --noautoconnect -p sleeping

[Install]
WantedBy=suspend.target
