# TODO: Find out why `i2c_dev` isn't available during Before=suspend.target

[Unit]
Description=Set OpenRGB on suspend
Before=suspend.target
Requires=systemd-modules-load.service

[Service]
User=rilstrats
Type=oneshot
ExecStart=openrgb --noautoconnect -p sleeping

[Install]
WantedBy=suspend.target
