[Unit]
Description=Set RGB to running profile on poweron
After=graphical.target

[Service]
User=riley
Type=oneshot
ExecStart=flatpak run org.openrgb.OpenRGB --noautoconnect -p running

[Install]
WantedBy=graphical.target
