[Unit]
Description=Set OpenRGB on resume
After=graphical.target
Requires=systemd-modules-load.service

[Service]
User=rilstrats
Type=oneshot
ExecStart=openrgb --noautoconnect -p running

[Install]
WantedBy=graphical.target
