[Unit]
Description=Set OpenRGB on resume
After=suspend.target

[Service]
User=rilstrats
Type=oneshot
ExecStart=openrgb --noautoconnect -p running

[Install]
WantedBy=suspend.target
