[Unit]
Description=Set RGB to sleeping profile on suspend
Before=suspend.target

[Service]
User=riley
Type=oneshot
ExecStart=openrgb --noautoconnect -p sleeping

[Install]
WantedBy=suspend.target
