[Unit]
Description=Set RGB to running profile on resume
After=suspend.target

[Service]
User=riley
Type=oneshot
ExecStart=openrgb --noautoconnect -p running

[Install]
WantedBy=suspend.target
